body {
    background-color: #10608A;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black;
    padding: auto;
}

img {
    width: 100%;
    margin: auto;
    box-shadow: 10px 10px black;
    
}

main {
    width: 600px;
    padding: 50px;
    margin: auto;
    border-radius: 115px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
}

p {
    text-align: justify;
}