@charset "UTF-8";
  
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #C22ED0, #5FFAE0);
}

#calculadora{
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: rgb(100, 100, 100);
    padding: 10px;
    width: 300px;
    height: 290px;
    border-radius: 7px;
    justify-content: space-between;
    color: white;
    text-align: center;
}


#calculadora2{
    display: flex;
    margin: auto;
    flex-direction: column;
    background-image: url(../image/rock.webp);
    background-position: top center;
    padding: 10px;
    width: 450px;
    height: 390px;
    border-radius: 7px;
    justify-content: space-between;
    color: white;
    text-align: center;
}

#calculadora2 h1{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to right, rgb(199, 2, 2) 25%, rgb(255, 102, 0), rgb(255, 238, 0) 77%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.tudo{
    display: flex;
    margin: auto;
    width: 900px;
}

#dia{
    width: 220px;
}
    
.ano2{
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.795);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 7px;
    align-items: center;
}

.ano2 h4{
    text-transform: uppercase;
}


.resultado2{
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.911);
    color: rgb(255, 255, 255);
    width: 250px;
    border-radius: 7px;
    align-items: center;
}

#CalculoInput{
    width: 220px;
}