     body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;}
    
    #cap3{
    
        color: red;
         background-color: black;

        h1 {background-color: darkblue;}

        h2 { background-color: green;}
    
        }